{%extends 'all-news/base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}



<div class="container" style="padding-top:18px;">

  <div class="row">
    {% for news_item in news %}
    <div class="col-md-4">
      <div class="card" style="width:21em">
        <h4 class="card-title">{{ news_item.title }}</h4>


        <img class="card-img-top" src="{{news_item.article_image.url}}" style="width:100%;">
        <div class="card-body">
          <p class="card-text">
            {% autoescape on %}
            {{ news_item.post|truncatewords:'70'|safe }}<a style="text-decoration:none;" href="{% url 'article' news_item.id %}">Read More</a>
          </p>
          {% endautoescape %}
        </div>
        
      </div>

    </div>
    {% endfor%}

  </div>
  <div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Subscribe for a Newsletter!!</h5>
      {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
      <p class="card-text"></p>
      <form action="{%url 'newsToday'%}" method="post" class="card-text">
        {%csrf_token%}

        {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </div>
  </div>

  {% block scripts %}
  {{block.super}}
  <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
  {% endblock %}

</div>

{% endblock %}